{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password - MenTrend</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <section class="login-section">
    <h1>Forgot Password</h1>
    <form class="login-form" action="{% url 'forgot_password' %}" method="post" id="loginForm">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Enter your registered email</label>
        <input type="email" placeholder="Enter your email" name="email" required>
      </div>
      <button type="submit" class="login-btn">Send Reset Link</button>
      <div class="form-links">
        <a href="{% url 'log_in' %}">Back to Login</a>
      </div>
    </form>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
</body>
</html>
